body {
    height: 200vh;
    font-family: Arial, sans-serif;
}

.sidebar {
    display:block;
    height: 100vh;
    min-width:calc(2/12);
    padding-top: 10px;
}
.sidebar .st{
    position:fixed;
    top: 0;
    left: 0;
    width:inherit;
    height:fit-content;
}
.sidebar a {
    color: #8899A6;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
.sidebar a:hover {
    color: white;
}
.sidebar .profile-section {
    text-align: center;
    margin-bottom: 30px;
}
.sidebar .profile-section img {
    width: 80px;
    height: 80px;
}

/* right sidebar */
.messages-section {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 20px;
    color: white;
}


.messages-content .message img {
    width: 30px;
    height: 30px;
}

.message-input input {
    border-radius: 5px;
    border: 1px solid #444;
}

/* search */
.search {
    height: 40%;
}
.search-draft {
    color: white;
    border-radius: 10px;
    width: 100%;
}

.search-draft .event img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.search-draft .trending p {
    margin: 0;
}

.search-draft .text-primary {
    color: #1DA1F2; 
}

.search-draft a.text-primary:hover {
    text-decoration: underline;
}
.small {
    color: aqua;

}

/* content */
.content-area{
    max-height: fit-content;
}